body {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: rgb(226, 222, 222);
	letter-spacing: .025em;
	overflow-y: scroll;
	background-image: url(images/background.png);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
#home .steps-line .numerate>div:before {
	font-family: "Oswald", Helvetica, Arial, sans-serif;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

.navbar {
	position: relative;
	min-height: 60px;
	margin-bottom: 30px;
	border: 1px solid transparent;
}

.navbar-inverse .navbar-nav>li>a {
	color: #dbdada;
}

.navbar-nav>li>a {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 20px;
}

.nav>li>a {
	position: relative;
	display: block;
	padding: 10px 15px;
}

.navbar-nav {
	margin: 10px -15px;
}

.nav {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

ul,
ol {
	margin-top: 0;
	margin-bottom: 10px;
}

main {
	padding-bottom: 40px;
}

#navbar li.active a {
	color: #39c1d7;
}

#navbar h2,
#navbar h4 {
	color: inherit;
	background-color: inherit;
	margin: 0;
	font-weight: normal;
	line-height: inherit;
}

.navbar-inverse {
	background-color: #464648;
	border-color: #363637;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-brand {
	float: left;
	padding: 20px 15px;
	font-size: 18px;
	line-height: 20px;
	height: 60px;
	margin-right: 10px;
}

button.navbar-toggle {
	border-color: #ddd;
	margin-top: 12px;
}

.navbar-toggle .icon-bar {
	background-color: #888;
}

.jumbotron {
	margin-top: 15px;
	overflow: auto;
	box-shadow: 0 0 15px rgba(8, 8, 8, 0.5);
}

p {
	font-size: 16px;
}

.left {
	float: left;
}

.browser {
	width: 30px;
	height: 30px;
	float: right;
	margin-right: 5px;
	display: flex;
}

ul {
	padding-left: 0px;
	list-style: none;
}

.info {
	float: left;
}

.browsers {
	float: right;
	overflow: hidden;
}

.browsers li {
	opacity: .1;
}

.browsers li a {
	height: 100%;
	width: 100%;
}

.icon-Chrome {
	background-position: 0 -160px;
}

.icon-Firefox {
	background-position: -128px -128px;
}

.icon-IE {
	background-position: -31px -34px;
	background-size: 166px 109px;
}

.icon-Opera {
	background-position: -64px -128px;
}

.icon-Safari {
	background-position: -128px -32px;
}

.icon-msdn {
	background-position: -160px -128px;
}

.icon-w3c {
	background-position: -160px -32px;
}

.icon-webplatform {
	background-position: -64px -160px;
}

.icon-check {
	background-position: -219px -26px;
	width: 13px;
	height: 13px
}

.icon-chrome,
.icon-chrome-deprecated,
.icon-clip {
	width: 30px;
	height: 30px
}

.icon-chrome-deprecated {
	background-position: -32px -160px
}

.icon-chrome {
	background-position: 0 -160px
}

.icon-clip {
	background-position: -32px -128px
}

.icon-css {
	background-position: -81px -192px;
	width: 25px;
	height: 25px
}

.icon-demo {
	background-position: -160px -64px;
	width: 30px;
	height: 30px
}

.icon-device,
.icon-dom {
	width: 25px;
	height: 25px
}

.icon-device {
	background-position: -192px -162px
}

.icon-dom {
	background-position: -192px -135px
}

.icon-ecma {
	background-position: -128px -96px;
	width: 30px;
	height: 30px
}

.icon-edge,
.icon-edge-deprecated {
	width: 60px;
	height: 60px
}

.icon-edge-deprecated {
	background-position: -34px 0;
	background-size: 170px 109px
}

.icon-edge {
	background-position: 0 -33px;
	background-size: 163px 109px
}

.icon-fileapis {
	background-position: -192px -54px;
	width: 25px;
	height: 25px
}

.icon-firefox,
.icon-firefox-deprecated {
	width: 30px;
	height: 30px
}

.icon-firefox-deprecated {
	background-position: -96px -128px
}

.icon-firefox {
	background-position: -128px -128px
}

.icon-graphics {
	background-position: -192px -27px;
	width: 25px;
	height: 25px
}

.icon-ie,
.icon-ie-deprecated {
	width: 60px;
	height: 60px
}

.icon-ie-deprecated {
	background-position: 0 0;
	background-size: 160px 100px
}

.icon-ie {
	background-position: -31px -34px;
	background-size: 166px 109px
}

.icon-ietf {
	background-position: -160px -96px;
	width: 30px;
	height: 30px
}

.icon-javascript {
	background-position: -192px -108px;
	width: 25px;
	height: 25px
}

.icon-khronos {
	background-position: -128px 0;
	width: 30px;
	height: 30px
}

.icon-microsoft-logo {
	background-position: -219px 0;
	width: 112px;
	height: 24px
}

.icon-misc {
	background-position: -96px -160px;
	width: 25px;
	height: 25px
}

.icon-msdn {
	background-position: -160px -128px;
	width: 30px;
	height: 30px
}

.icon-multimedia,
.icon-networkconnectivity,
.icon-offlinestorage {
	width: 25px;
	height: 25px
}

.icon-multimedia {
	background-position: -123px -160px
}

.icon-networkconnectivity {
	background-position: -150px -160px
}

.icon-offlinestorage {
	background-position: -192px 0
}

.icon-opera-deprecated {
	background-position: -160px 0;
	width: 30px;
	height: 30px
}

.icon-opera {
	background-position: -64px -128px;
	width: 30px;
	height: 30px
}

.icon-performance,
.icon-realtimecommunication {
	width: 25px;
	height: 25px
}

.icon-performance {
	background-position: -192px -81px
}

.icon-realtimecommunication {
	background-position: -135px -192px
}

.icon-remove-icon {
	background-position: -234px -26px;
	width: 8px;
	height: 8px
}

.icon-safari {
	background-position: -128px -32px;
	width: 30px;
	height: 30px
}

.icon-security,
.icon-semantics,
.icon-userinput {
	width: 25px;
	height: 25px
}

.icon-security {
	background-position: 0 -192px
}

.icon-semantics {
	background-position: -27px -192px
}

.icon-userinput {
	background-position: -54px -192px
}

.icon-w3c {
	background-position: -160px -32px;
	width: 30px;
	height: 30px
}

.icon-webcomponents {
	background-position: -108px -192px;
	width: 25px;
	height: 25px
}

.icon-webplatform,
.icon-whatwg,
.icon-xiph {
	width: 30px;
	height: 30px
}

.icon-webplatform {
	background-position: -64px -160px
}

.icon-whatwg {
	background-position: -128px -64px
}

.icon-xiph {
	background-position: 0 -128px
}

.icon {
	background-image: url(images/browsers.png);
	width: 30px;
	height: 30px;
}

.info a span {
	display: inline-block;
	vertical-align: middle;
	margin-top: 0;
}

.icon {
	margin-right: 5px;
}

.info li {
	float: left;
	background-color: #C7C4C4;
	;
	margin-right: 10px;
	padding: 5px;
	margin-bottom: 5px;
}

.browsers .implemented {
	opacity: 1;
}

.browsers .indevelopment {
	opacity: .5;
}

.feature {
	margin-bottom: 30px;
}

.feature p {
	font-size: 1.6rem;
	line-height: 1.5;
	margin-bottom: 3.2rem;
	max-width: 80rem;
}

.feature h4 {
	font: inherit;
	font-size: 2.4rem;
	font-weight: 300;
	line-height: 1.2;
}

.feature .urls {
	margin-top: 10px;
	margin-bottom: -25px;
	overflow: hidden;
}

.features {
	margin-top: 20px;
}

.input {
	margin-left: 20%;
	text-align: center;
	max-width: 40%;
}

.stats {
	margin: 0 auto;
}

h4.noresult {
	text-align: center;
	margin: 0;
	margin-top: 20px;
}

footer {
	width: 100%;
	margin: 0;
	padding: 5px 0;
	background: #464547;
	color: white;
}

footer .footer-title {
	float: left;
}

footer .author {
	float: right;
}